/********* General *********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fa-color: #0065FC;
    --main-bg-color: #ffffff;

    --body-text-color: #000000;
    --body-phone-bg-color: #ffffff;

    --nav-text-color: #000000;
    --nav-hover-color: #0065FC;
    --nav-phone-text-color: #000000;
    --nav-phone-bg-color: #F2F2F2;
    --nav-phone-hover-color: #0065FC;

    --header-bg-color: #ffffff;
    --header-text-color: #000000;
    --cards-bg-color: #ffffff;

    --star-color: #0065FC;
    --neutral-star-color: #F2F2F2;

    --search-bg-color: #ffffff;
    --search-icon-bg-color: #F2F2F2;
    --search-icon-color: #000000;
    --search-text-color: #000000;
    --search-button-color: #0065FC;
    --search-button-hover-color: #004BB7;

    --filters-bg-color: #ffffff;
    --filters-bd-color: #D9D9D9;
    --filters-button-color: #0065FC;
    --filters-hover-color: #DEEBFF;
    --filters-text-color: #000000;

    --icon-color: #0065FC;

    --hebergements-bg-color: #F2F2F2;
    --hebergements-text-color: #000000;
    --hebergements-phone-bg-color: #ffffff;

    --populaires-phone-bg-color:#F2F2F2;

    --show-text-color: #000000;
    --show-hover-color: #0065FC;
    --show-phone-bg-color: #ffffff;

    --footer-bg-color: #F2F2F2;
    --footer-text-color: #000000;
    --footer-hover-color: #0065FC;
    
    --padding: 20px;
}

.fa-solid {
    color: var(--fa-color);
}

.rating {
    color: var(--star-color);
}

body {
    display: flex;
    flex-direction: column; /* Empile les enfants verticalement */
    align-items: center;
    min-height: 100vh; /* S'assure que la hauteur minimale est la hauteur de la fenêtre */
    margin: 0; /* Supprime les marges */
    color: var(--body-text-color);
    min-width: 320px; /* Limite minimale pour un affichage garanti */
}

.main-container {
    flex: 1; /* Prend tout l'espace disponible pour pousser le footer vers le bas */
    display: flex;
    flex-direction: column; /* Empile les sections verticalement */
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

/********* Header *********/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg-color);
    margin : 30px 0;
}

.logo {
    display: flex;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    justify-content: flex-start;
}

.logo img {
    margin: 0;
    display: block;
    image-orientation: left;
    width: 100%;
    height: 19px;
}

nav {
    display: flex; /* Utilise Flexbox pour aligner les éléments horizontalement */
    justify-content: flex-start;
    align-items: center ; 
    gap: 50px; /* Ajoute un espace entre les éléments */
}

nav a {
    color: var(--header-text-color);
    font-size: 16px;
    position: relative; 
    transition: all 0.3s ease; /* Animation fluide pour l'effet */
}

nav a::before {
    content: ''; /* Crée un pseudo-élément vide pour la bordure */
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%; /* La bordure couvre toute la largeur du lien */
    height: 2px; /* Épaisseur de la bordure */
    background-color: transparent; /* La bordure est invisible par défaut */
    transition: background-color 0.3s ease; /* Animation fluide pour l'apparition */
}

/* Changement de couleur et ajout de bordure au survol */
nav a:hover::before {
    background-color: var(--nav-hover-color);
}

/********* Cards *********/
.card {
    background-color: var(--cards-bg-color);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: block; /* Transforme la carte en un élément bloc pour couvrir l'ensemble du contenu */
    text-decoration: none; /* Supprime les soulignements sur les textes des liens */
    color: inherit; /* Conserve la couleur du texte de la carte */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajoute des animations pour un effet visuel au survol */
}

.card:hover {
    transform: scale(1.03); /* Légère mise en avant au survol */
    filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.2)); /* Améliore l'ombre pour un effet au survol */
}

.card img {
    object-fit: cover;
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 150px;
}

.card-title {
    font-size: 16px;
    margin-top: 10px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: bold;
    font-weight: 700;
}

.neutral-star {
    color: var(--neutral-star-color);
}

.hebergements {
    width: 100%;
}


/********* Search Bar *********/

/* Conteneur de la barre de recherche */

.search-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
}

.search-bar {
    display: flex;
    align-items: center;
    background: transparent;
    overflow: hidden; /* Coupe les débordements éventuels */
    width: 40%;
    margin: 20px 0px; /* Espacement interne */
}

/* Premier conteneur : Icône */
.marker-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--search-icon-bg-color); /* Fond gris clair */
    padding: 15px 16px 15px 16px; /* Espacement interne */
    border-top-left-radius: 15px; /* Arrondi gauche supérieur */
    border-bottom-left-radius: 15px; /* Arrondi gauche inférieur */
    width: 50px; /* Largeur précise */
    height: 49px; /* Hauteur précise */
}

.marker-icon i {
    font-size: 18px; /* Définit la hauteur de l'icône */
    color: var(--search-icon-color); /* Couleur noire pour l'icône */
    width: 14px; /* Largeur précise */
    height: 18px; /* Hauteur précise */
    display: inline-block; /* Permet de définir largeur/hauteur exactes */
    line-height: 18px; /* Centre l'icône verticalement */
    text-align: center; /* Centre l'icône horizontalement */
}

/* Deuxième conteneur : Champ de recherche */
.search-input {
    display: flex;
    align-items: center;
    padding: 15px 16px 15px 16px; /* Espacement interne */
    background-color: var(--search-bg-color); /* Fond blanc */
    flex-grow: 1; /* Permet au champ de texte de s'étendre */
}

.search-input input {
    border: none; /* Supprime les bordures */
    outline: none; /* Supprime l'effet de focus */
    text-align: center;
    font-size: 14px; /* Taille du texte */
    color: var(--search-text-color); /* Couleur du texte */
    width: auto; /* Largeur personnalisée */
}

/* Style pour le placeholder */
.search-input input::placeholder {
    font-weight: bold; /* Texte en gras */
    color: var(--search-text-color); /* Couleur noire */
}

/* Troisième conteneur : Bouton */
.search-button {
    background-color: var(--search-button-color);
    color: var(--search-bg-color);
    font-weight: bold; /* Texte en gras */
    border: none; /* Supprime les bordures */
    border-top-right-radius: 15px; /* Arrondi droit supérieur */
    border-bottom-right-radius: 15px; /* Arrondi droit inférieur */
    padding: 15px 16px 15px 16px; /* Espacement interne pour ajuster la taille */
    font-size: 16px; /* Taille du texte */
    cursor: pointer; /* Curseur main au survol */
}

/* Changement de couleur au survol */
.search-button:hover {
    background-color: var(--search-button-hover-color); /* Fond bleu foncé au survol */
}

.search-button .search-text {
    display: inline; /* Texte visible sur desktop */
}

.search-button .search-icon {
    display: none; /* Icône cachée par défaut */
}

/********* Filter Bar *********/

/* Conteneur général */
.filters {
    display: flex;
    gap: 15px; /* Espacement entre les boutons */
}

/* Boutons de filtre */
.filters-container {
    display: flex; /* Place les boutons sur une seule ligne */
    gap: 15px;
    margin-top: 20px;
}

/* Label "Filtres" */
.filters-label {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold; /* Texte en gras */
    color: var(--filters-text-color);
}

.filters button {
    display: flex; /* Active Flexbox */
    align-items: center; /* Centre verticalement l'icône et le texte */
    gap: 8px; /* Espace entre l'icône et le texte */
    background-color: var(--filters-bg-color); /* Fond blanc */
    border: 2px solid var(--filters-bd-color); /* Bordure gris clair */
    border-radius: 30px; /* Coins arrondis */
    padding: 10px 20px; /* Espacement interne */
    font-size: 14px; /* Taille du texte */
    font-weight: bold; /* Texte en gras */
    color: var(--filters-text-color);
    cursor: pointer; /* Curseur main au survol */
    transition: background-color 0.3s ease, color 0.3s ease; /* Animation au survol */
}

/* Icônes dans les boutons */
.filters button i {
    font-size: 16px; /* Taille de l'icône */
    color: var(--filters-button-color); /* Couleur de l'icône bleue */
}

/* Effet au survol des boutons */
.filters button:hover {
    background-color: var(--filters-hover-color); /* Fond bleu au survol */
    color: var(--filters-text-color); /* Texte noir au survol */
}

.filters button:hover i {
    color: var(--filters-button-color); /* Icône bleue au survol */
}

/********* info bar *********/

.info-container {
    display: flex;
    align-items: center; /* Centre verticalement l'icône et le texte */
    gap: 10px; /* Espace entre l'icône et le texte */
    margin-top: 20px;

}

.icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Diamètre du cercle */
    height: 30px;
    border: 2px solid #D9D9D9; /* Bordure grise */
    border-radius: 50%; /* Cercle parfait */
}

.icon-circle i {
    color: var(--icon-color); /* Couleur bleue pour l'icône */
    font-size: 16px; /* Taille de l'icône */
}

/********* Hebergements And Populaires *********/

.hebergements-and-populaires {
    display: flex; /* Place les deux sections sur une ligne */
    justify-content: space-between; /* Espace entre les sections */
    align-items: stretch; /* prend toute la place */
    gap: 40px; /* Espace entre les deux sections */
    margin-top: 20px;
}


.hebergements-and-populaires section {
    background-color: var(--hebergements-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/********* Hebergements Section *********/

.hebergements-cards {
    display: grid; /* Active la grille */
    grid-template-columns: repeat(3, 1fr); /* Limite à 3 colonnes */
    gap: 30px; /* Espace entre les cartes */
    margin-top: 20px;
    border-radius: 10px; /* Coins arrondis */
}

.hebergements .card img {
    border-radius: 10px;
    width: 250px;
    height: 124px;
    border-bottom-left-radius: 0px; /* Coin arrondi en bas à gauche */
    border-bottom-right-radius: 0px; /* Coin droit en bas à droite */
}

.hebergements-cards .card h3 {
    margin: 10px 0;
}

.hebergements-cards .card p {
    margin: 10px 0;
}

.show-more {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--show-text-color);
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 0px;
    margin: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.show-more:hover {
    background-color: var(--show-hover-color);
}

/********* Populaires Section *********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 123px; /* Définit la largeur de l'image */
    height: 146px; /* Définit la hauteur de l'image */
    border-top-left-radius: 20px; /* Coin arrondi en haut à gauche */
    border-bottom-left-radius: 20px; /* Coin arrondi en bas à gauche */
    border-top-right-radius: 0px; /* Coin droit en haut à droite */
    border-bottom-right-radius: 0px; /* Coin droit en bas à droite */
    object-fit: cover; /* Gère l'adaptation de l'image dans sa zone */
}

.populaires-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    padding-left: 15px;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    display: inline-block; /* Permet au conteneur de s'ajuster automatiquement à la largeur du texte */
    overflow: visible; /* Permet au texte de s'afficher intégralement */
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/********* Activités Section *********/

#activites {
    margin: 30px 30px;
}

.activites-cards {
    display: grid; /* Active CSS Grid */
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes de taille égale */
    justify-content: center; /* Centre horizontalement */
    gap: 20px; /* Espacement entre les cartes */
    margin-top: 20px; /* Espacement supérieur */
    padding: 0; /* Supprime les espacements internes */
}

.activites-cards .card {
    display: flex; /* Utilise Flexbox pour ajuster l'image à l'intérieur */
    flex-direction: column; /* Aligne les éléments verticalement */
    overflow: hidden; /* Masque les débordements */
    padding: 0; /* Supprime les espacements internes */
}

.activites-cards img {
    width: 100%; /* Définit une largeur fixe */
    height: 380px; /* Définit une hauteur fixe */
    object-fit: cover; /* Gère l'adaptation de l'image dans sa zone */
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.activites-cards .card h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    font-size: 16px; /* Taille du texte */
    text-align: left; /* Texte à gauche */
}

/********* Footer *********/
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Aligne les blocs en haut verticalement */
    padding: var(--padding);
    background-color: var(--footer-bg-color);
    gap: 20px;
}

footer div {
    flex: 1; /* Chaque bloc prend une largeur égale */
    text-align: left; /* Aligne le contenu à gauche */
}

footer h4 {
    font-size: 18px;
    color: var(--footer-text-color);
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer a {
    color: var(--footer-text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--footer-hover-color);
}

/********* Responsive Design *********/
@media (max-width: 1024px) {

    .hebergements-and-populaires {
        flex-direction: column; /* Empile les sections verticalement */
    }

    .populaires {
        display: flex; /* Active Flexbox */
        flex-direction: column; /* Permet aux enfants de s'organiser */
        align-items: flex-start; /* Centre les cartes horizontalement */
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row; /* Aligne les cartes horizontalement */
        justify-content: center; /* Centre les cartes dans leur conteneur */
        align-items: flex-start; /* Ajuste l'alignement vertical des cartes */
        gap: 20px; /* Espace uniforme entre les cartes */
    }

    .populaires-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0;
    }
    
    .populaires-cards .card {
        flex: 0 1 calc(33.33% - 20px); /* Chaque carte occupe environ 1/3 de la largeur disponible */
        max-width: 1024px; /* Largeur maximale pour limiter la taille */
        height: auto; /* Ajuste automatiquement la hauteur */
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards img {
        height: 200px; /* Définit une hauteur fixe */
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    body {
        background-color: var(--body-phone-bg-color);
    }
    
    .main-container {
        align-items: center; /* Centre les éléments horizontalement */
        justify-content: center; /* Centre les éléments verticalement */
        max-width: 768px; /* Largeur maximale pour rester mobile-friendly */
        padding: 0; /* Supprime les marges internes */
        margin: 0 auto; /* Supprime les marges externes et centre horizontalement */
    }
        
    
    /********* Header *********/

    header {
        display: flex;
        flex-direction: column; /* Aligne les éléments verticalement */
        width: 100%;
        margin-top: 20px; /* Espacement au-dessus du header */
    }
    
    .logo {
        margin-bottom: 10px; /* Ajoute un espacement entre le logo et la navigation */
    }
    
    nav {
        display: flex;
        align-items: center; /* Centre les liens */
        justify-content: center; /* Centre les liens horizontalement */
        width: 100%; /* Prend toute la largeur disponible */
        position: relative;
        margin-top: 20px; /* Espacement au-dessus du header */
        gap: 0; /* Désactive l'espace entre les éléments */
    }
    
    nav a {
        flex: 1; /* Permet aux liens de prendre une largeur égale */
        text-align: center;
        text-decoration: none;
        color: var(--nav-phone-text-color);
        padding: 10px 0p;
    }
    
    /* Désactiver ::after dans ce contexte */
    nav a::before {
    content: none;
    }

    /* Ajoute la bordure sous les liens avec un pseudo-élément */
    nav a::after {
        content: ''; /* Pseudo-élément vide pour dessiner la bordure */
        position: absolute;
        bottom: -15px; /* Place la bordure en bas du lien */
        left: 0;
        width: 100%; /* La bordure couvre toute la largeur du lien */
        height: 2px; /* Épaisseur de la bordure */
        background-color: var(--nav-phone-bg-color); 
        transition: background-color 0.3s ease; /* Transition fluide pour la couleur */
    }

    /* Style pour le lien actif (ciblé avec :target, si applicable) */
    nav a:hover::after {
    background-color: var(--nav-phone-hover-color); /* Bordure bleue pour le lien actif */
    }

    .hebergements h1 {
        font-size: 24px; /* Taille adaptée pour le titre principal */
        font-weight: bold; /* Texte en gras */
        text-align: left; /* Alignement à gauche */
        margin: 0 20px 10px 30px; /* Pas de marge en haut, mais espacement en bas */
        line-height: 1.4; /* Espacement entre les lignes */
        color: var(--hebergements-text-color); /* Couleur noire pour le titre */
    }
    
    .hebergements p {
        font-size: 16px; /* Taille du texte secondaire */
        font-weight: normal; /* Texte en style normal */
        text-align: left; /* Alignement à gauche */
        margin: 0 30px; /* Suppression de la marge par défaut */
        line-height: 1.6; /* Espacement plus important pour la lisibilité */
        color: var(--hebergements-text-color);
    }
    
    /********* Search Bar *********/

    .search-form {
        margin: 20px;
    }

    .search-bar {
        justify-content: center; /* Centre les liens horizontalement */
        width: 100%; /* Prend toute la largeur disponible */
        margin: 20px; /* Centre horizontalement */
    }
    
    .search-input input {
        border: none; /* Supprime les bordures */
        outline: none; /* Supprime l'effet de focus */
        text-align: center;
        font-size: 18px;
        color: var(--search-text-color);
        width: auto; /* Largeur personnalisée */
    }

    .search-button {
        border-radius: 15px; /* Coins arrondis pour mobile */
    }

    .search-button .search-text {
        display: none; /* Texte caché sur mobile */
    }

    .search-button .search-icon {
        display: inline; /* Icône visible sur mobile */
    }

    /********* Filter Bar *********/

    /* Conteneur général */
    .filters-container {
        flex-direction: column; /* Boutons empilés verticalement */
        gap: 10px; /* Réduction de l'espacement */
        margin-top: 10px; /* Réduction de la marge supérieure */
    }

    /* Boutons de filtre */
    .filters {
        display: grid; /* Utilisation de la grille */
        grid-template-columns: repeat(2, 1fr); /* Deux colonnes de largeur égale */
        gap: 10px; /* Espacement entre les colonnes et les lignes */
        justify-content: center; /* Centrage horizontal des éléments */
        align-items: center; /* Centrage vertical des éléments dans la grille */
        width: 100%; /* La grille occupe toute la largeur disponible */
        padding: 0 30px;
    }

    /* Label "Filtres" */
    .filters-label {
        font-size: 16px;
        margin-bottom: 10px; /* Ajout d'un espacement sous le label */
        padding: 0 30px;
        justify-content: left;
        text-align: center;
    }

    .filters button {
        justify-content: center;
        padding: 10px; /* Réduction de l'espacement interne */
        font-size: 16px; /* Réduction de la taille du texte */
    }

    /* Icônes dans les boutons */
    .filters button i {
        font-size: 22px; /* Réduction de la taille des icônes */
    }

    /********* info bar *********/

    .info-container {
        padding: 0 30px;
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 16px;

    }

    .icon-circle {
        height: 25px;
        border: 1px solid var(--filters-bd-color);    
    }

    .icon-circle i {
        font-size: 10px;
    }

    /********* Hebergements And Populaires *********/

    .hebergements-and-populaires {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        gap: 0;
    }

    .hebergements-and-populaires section {
        padding: 30px;
    }


    /********* Populaires Section *********/
    
    #populaires {
        order: 1; /* La section "Populaires" en premier */
    }

    .populaires {
        background-color: var(--populaires-phone-bg-color);
        width: 100%;
    }

    .populaires-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .populaires-cards {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }
    
    .populaires-cards .card {
        align-items: center; /* Centre verticalement l'image et le contenu */
        gap: 20px; /* Espacement entre l'image et le texte */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour un effet flottant */
        width: 350px; /* largeur fixe */
        height: auto; /* Fixez une hauteur uniforme */
        overflow: hidden;
        margin-top: 20px;
    }

    .populaires-cards img {
        flex-shrink: 0; /* empeche le retrecsissement de l'image */
        width: 35%; /* Largeur fixe pour l'image */
        overflow: hidden;
        border-radius: 15px 0 0 15px; /* Coins arrondis pour toute la carte */
    }

    .populaires-cards .card-content {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }
    
    .populaires-cards .card-rating {
        margin-top: 60px; /* Positionne la note en bas du conteneur */
    }

    /********* Hebergements Section *********/

    #hebergements {
        order: 2; /* La section "Hébergements" en second */
        background-color: var(--hebergements-phone-bg-color);
        width: 100%; /* Ajustez cette largeur selon votre design */
    }

     /* Affichage en colonne pour les hébergements */
     .hebergements-cards {
        align-items: center;
        grid-template-columns: 1fr; /* Une seule colonne */
        gap: 20px; /* Espace entre les cartes */
        padding: 0; /* Réduction du padding pour mobile */
        background-color: var(--hebergements-phone-bg-color);
    }

    .hebergements .card img {
        width: 100%;
        border-top-left-radius: 0px; /* Coin arrondi en bas à gauche */
        border-top-right-radius: 0px; /* Coin droit en bas à droite */
    }

    .show-more {
        background-color: var(--show-phone-bg-color);
        margin: 10px;
    }
    
    /********* Activités Section *********/

    #activites {
        order: 3; /* La section "Activités" en dernier */
        margin: 0 auto;
        width: 100%; /* Ajustez cette largeur selon votre design */
    }

    #activites h2 {
        text-align: left; /* Aligne le texte à gauche */
        margin-left: 50px; /* Ajoute un léger décalage à gauche pour un meilleur espacement */
    }

    .activites-cards {
        display: flex; /* Utilisation de flexbox pour centrer les cartes */
        flex-wrap: wrap; /* Permet de passer à la ligne si nécessaire */
        justify-content: center; /* Centre les cartes horizontalement */
        gap: 15px; /* Espacement entre les cartes */
    }
    .activites-cards .card {
        align-items: center;
        background-color: var(--cards-bg-color);
        width: 80%; /* Largeur fixe pour la carte */
        border-radius: 20px; /* Coins arrondis globaux */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
    }

    .activites-cards img {
        border-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        height: 150px;
    }

    .activites-cards .card h3 {
        margin-top: 10px; /* Réduction de la marge supérieure */
        margin-bottom: 10px; /* Réduction de la marge inférieure */
        margin-left: 5px;
        font-size: 14px; /* Réduction de la taille du texte pour mobile */
        width: 90%; /* Limite la largeur du texte */
        padding: 5px; /* Ajoute un léger padding interne */
    }

    /********* Footer *********/
    footer {
        flex-direction: column; /* Empile les sections verticalement */
        max-width: 100%; /* Assure que le footer occupe la même largeur */
        width: 100%; /* Prend la largeur complète de son conteneur parent */
        box-sizing: border-box; /* Inclut le padding dans la largeur totale */
        gap: 20px; /* Espacement entre les sections */
        margin: 20px auto;
        margin-bottom: 0;
        padding: 30px;
    }
    
    footer ul {
        font-size: 16px;
        margin: 0;
    }
    
}
