/********* General *********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --main-bg-white: #ffffff;
    --search-bg-white: #ffffff;
    --filter-bg-color: #DEEBFF;
    --filter-bg-white: #ffffff;
    --filter-bd-color: #D9D9D9;
    --text-color: #000000;
    --padding: 20px;
}

.fa-solid {
    color: var(--main-color);
}

.rating {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column; /* Empile les enfants verticalement */
    min-height: 100vh; /* S'assure que la hauteur minimale est la hauteur de la fenêtre */
    margin: 0; /* Supprime les marges */
    background-color: var(--main-bg-color);
    color: var(--text-color);
    min-width: 320px; /* Limite minimale pour un affichage garanti */
}

.main-container {
    flex: 1; /* Prend tout l'espace disponible pour pousser le footer vers le bas */
    display: flex;
    flex-direction: column; /* Empile les sections verticalement */
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    background-color: var(--main-bg-white);
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

/********* Header *********/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin : 30px 0;
}

.logo {
    display: flex;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    justify-content: flex-start;
}

.logo img {
    margin: 0;
    display: block;
    image-orientation: left;
    width: 100%;
    height: 19px;
}

nav {
    display: flex; /* Utilise Flexbox pour aligner les éléments horizontalement */
    justify-content: flex-start; /* Centre les liens */
    align-items: center ; /* Aligne les éléments en haut */
    gap: 50px; /* Ajoute un espace entre les éléments */
}

nav a {
    color: var(--text-color);
    font-size: 16px;
    position: relative; 
    transition: all 0.3s ease; /* Animation fluide pour l'effet */
}

nav a::before {
    content: ''; /* Crée un pseudo-élément vide pour la bordure */
    position: absolute;
    top: -30px; /* Place la bordure 15px au-dessus du texte */
    left: 0;
    width: 100%; /* La bordure couvre toute la largeur du lien */
    height: 2px; /* Épaisseur de la bordure */
    background-color: transparent; /* La bordure est invisible par défaut */
    transition: background-color 0.3s ease; /* Animation fluide pour l'apparition */
}

/* Changement de couleur et ajout de bordure au survol */
nav a:hover::before {
    background-color: var(--main-color);
}

/********* Cards *********/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: block; /* Transforme la carte en un élément bloc pour couvrir l'ensemble du contenu */
    text-decoration: none; /* Supprime les soulignements sur les textes des liens */
    color: inherit; /* Conserve la couleur du texte de la carte */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajoute des animations pour un effet visuel au survol */
}

.card:hover {
    transform: scale(1.03); /* Légère mise en avant au survol */
    filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.2)); /* Améliore l'ombre pour un effet au survol */
}

.card img {
    object-fit: cover;
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 150px;
}

.card-title {
    font-size: 16px;
    margin-top: 10px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: bold;
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

.hebergements {
    width: 100%;
}


/********* Search Bar *********/

/* Conteneur de la barre de recherche */

.search-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
}

.search-bar {
    display: flex; /* Aligne les éléments horizontalement */
    align-items: center; /* Centre verticalement */
    background: transparent; /* Fond transparent */
    overflow: hidden; /* Coupe les débordements éventuels */
    width: 40%; /* Largeur précise */
    margin: 20px 0px; /* Espacement interne */
}

/* Premier conteneur : Icône */
.marker-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F9FA; /* Fond gris clair */
    padding: 15px 16px 15px 16px; /* Espacement interne */
    border-top-left-radius: 15px; /* Arrondi gauche supérieur */
    border-bottom-left-radius: 15px; /* Arrondi gauche inférieur */
    width: 50px; /* Largeur précise */
    height: 49px; /* Hauteur précise */
}

.marker-icon i {
    font-size: 18px; /* Définit la hauteur de l'icône */
    color: #000; /* Couleur noire pour l'icône */
    width: 14px; /* Largeur précise */
    height: 18px; /* Hauteur précise */
    display: inline-block; /* Permet de définir largeur/hauteur exactes */
    line-height: 18px; /* Centre l'icône verticalement */
    text-align: center; /* Centre l'icône horizontalement */
}

/* Deuxième conteneur : Champ de recherche */
.search-input {
    display: flex;
    align-items: center;
    padding: 15px 16px 15px 16px; /* Espacement interne */
    background-color: white; /* Fond blanc */
    flex-grow: 1; /* Permet au champ de texte de s'étendre */
}

.search-input input {
    border: none; /* Supprime les bordures */
    outline: none; /* Supprime l'effet de focus */
    text-align: center;
    font-size: 14px; /* Taille du texte */
    color: #333; /* Couleur du texte */
    width: auto; /* Largeur personnalisée */
}

/* Style pour le placeholder */
.search-input input::placeholder {
    font-weight: bold; /* Texte en gras */
    color: #333; /* Couleur noire */
}

/* Troisième conteneur : Bouton */
.search-button {
    background-color: #0065FC; /* Fond bleu */
    color: white; /* Texte blanc */
    font-weight: bold; /* Texte en gras */
    border: none; /* Supprime les bordures */
    border-top-right-radius: 15px; /* Arrondi droit supérieur */
    border-bottom-right-radius: 15px; /* Arrondi droit inférieur */
    padding: 15px 16px 15px 16px; /* Espacement interne pour ajuster la taille */
    font-size: 16px; /* Taille du texte */
    cursor: pointer; /* Curseur main au survol */
}

/* Changement de couleur au survol */
.search-button:hover {
    background-color: #004BB7; /* Fond bleu foncé au survol */
}

.search-button .search-text {
    display: inline; /* Texte visible sur desktop */
}

.search-button .search-icon {
    display: none; /* Icône cachée par défaut */
}

/********* Filter Bar *********/

/* Conteneur général */
.filters {
    display: flex;
    gap: 15px; /* Espacement entre les boutons */
}

/* Boutons de filtre */
.filters-container {
    display: flex; /* Place les boutons sur une seule ligne */
    gap: 15px;
    margin-top: 20px;
}

/* Label "Filtres" */
.filters-label {
    display: flex; /* Active Flexbox */
    align-items: center; /* Centre verticalement l'icône et le texte */
    font-size: 18px; /* Taille du texte */
    font-weight: bold; /* Texte en gras */
    color: #333; /* Couleur du texte noir */
}

.filters button {
    display: flex; /* Active Flexbox */
    align-items: center; /* Centre verticalement l'icône et le texte */
    gap: 8px; /* Espace entre l'icône et le texte */
    background-color: var(--filter-bg-white); /* Fond blanc */
    border: 2px solid var(--filter-bd-color); /* Bordure gris clair */
    border-radius: 30px; /* Coins arrondis */
    padding: 10px 20px; /* Espacement interne */
    font-size: 14px; /* Taille du texte */
    font-weight: bold; /* Texte en gras */
    color: var(--text-color); /* Couleur du texte bleu */
    cursor: pointer; /* Curseur main au survol */
    transition: background-color 0.3s ease, color 0.3s ease; /* Animation au survol */
}

/* Icônes dans les boutons */
.filters button i {
    font-size: 16px; /* Taille de l'icône */
    color: var(--main-color); /* Couleur de l'icône bleue */
}

/* Effet au survol des boutons */
.filters button:hover {
    background-color: var(--filter-bg-color); /* Fond bleu au survol */
    color: var(--text-color); /* Texte noir au survol */
}

.filters button:hover i {
    color: var(--main-color); /* Icône bleue au survol */
}

/********* info bar *********/

.info-container {
    display: flex;
    align-items: center; /* Centre verticalement l'icône et le texte */
    gap: 10px; /* Espace entre l'icône et le texte */
    margin-top: 20px;

}

.icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Diamètre du cercle */
    height: 30px;
    border: 2px solid #D3D3D3; /* Bordure grise */
    border-radius: 50%; /* Cercle parfait */
}

.icon-circle i {
    color: #0065FC; /* Couleur bleue pour l'icône */
    font-size: 16px; /* Taille de l'icône */
}

/********* Hebergements And Populaires *********/

.hebergements-and-populaires {
    display: flex; /* Place les deux sections sur une ligne */
    justify-content: space-between; /* Espace entre les sections */
    align-items: flex-start; /* Aligne en haut */
    gap: 40px; /* Espace entre les deux sections */
    margin-top: 20px;
}


.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
}

/********* Hebergements Section *********/

.hebergements-cards {
    display: grid; /* Active la grille */
    grid-template-columns: repeat(3, 1fr); /* Limite à 3 colonnes */
    gap: 30px; /* Espace entre les cartes */
    margin-top: 20px;
    padding: 20px; /* Ajoute un espacement interne */
    background-color: var(--main-bg-color); /* Fond gris clair */
    border-radius: 10px; /* Coins arrondis */
}

.hebergements .card img {
    border-radius: 10px;
    width: 250px;
    height: 124px;
    border-bottom-left-radius: 0px; /* Coin arrondi en bas à gauche */
    border-bottom-right-radius: 0px; /* Coin droit en bas à droite */
}

.hebergements-cards .card h3 {
    margin: 10px 0;
}

.hebergements-cards .card p {
    margin: 10px 0;
}

.show-more {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-color);
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 0px;
    margin: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.show-more:hover {
    background-color: var(--main-color);
}

/********* Populaires Section *********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 123px; /* Définit la largeur de l'image */
    height: 146px; /* Définit la hauteur de l'image */
    border-top-left-radius: 20px; /* Coin arrondi en haut à gauche */
    border-bottom-left-radius: 20px; /* Coin arrondi en bas à gauche */
    border-top-right-radius: 0px; /* Coin droit en haut à droite */
    border-bottom-right-radius: 0px; /* Coin droit en bas à droite */
    object-fit: cover; /* Gère l'adaptation de l'image dans sa zone */
}

.populaires-cards .card-content {
    width: auto;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    display: inline-block; /* Permet au conteneur de s'ajuster automatiquement à la largeur du texte */
    overflow: visible; /* Permet au texte de s'afficher intégralement */
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/********* Activités Section *********/

#activites {
    margin-top: 40px; /* Ajoute un espace de 40px au-dessus de la section Activités */
    margin-bottom: 40px; /* Ajoute un espace de 40px au-dessus de la section Activités */
}

.activites-cards {
    display: grid; /* Active CSS Grid */
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes de taille égale */
    justify-content: center; /* Centre horizontalement */
    gap: 20px; /* Espacement entre les cartes */
    margin-top: 20px; /* Espacement supérieur */
    padding: 0; /* Supprime les espacements internes */
}

.activites-cards .card {
    display: flex; /* Utilise Flexbox pour ajuster l'image à l'intérieur */
    flex-direction: column; /* Aligne les éléments verticalement */
    overflow: hidden; /* Masque les débordements */
    padding: 0; /* Supprime les espacements internes */
}

.activites-cards img {
    width: 100%; /* Définit une largeur fixe */
    height: 380px; /* Définit une hauteur fixe */
    object-fit: cover; /* Gère l'adaptation de l'image dans sa zone */
    border-bottom-left-radius: 0px; /* Coin arrondi en bas à gauche */
    border-bottom-right-radius: 0px; /* Coin droit en bas à droite */
}

.activites-cards .card h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    font-size: 16px; /* Taille du texte */
    text-align: left; /* Texte à gauche */
}

/********* Footer *********/
footer {
    display: flex;
    justify-content: space-around;
    padding: var(--padding);
    background-color: var(--main-bg-color);
}

footer h4 {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--main-color);
}

/********* Responsive Design *********/
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        display: flex;
        flex-direction: column; /* Empile les enfants verticalement */
        min-height: 100vh; /* S'assure que la hauteur minimale est la hauteur de la fenêtre */
        margin: 0; /* Supprime les marges */
        background-color: var(--main-bg-color);
        color: var(--text-color);
        min-width: 320px; /* Limite minimale pour un affichage garanti */
    }
    
    .main-container {
        flex: 1; /* Prend tout l'espace disponible pour pousser le footer vers le bas */
        display: flex;
        flex-direction: column; /* Empile les sections verticalement */
        align-items: center; /* Centre les éléments horizontalement */
        justify-content: center; /* Centre les éléments verticalement */
        width: 100%;
        max-width: 767.98px; /* Largeur maximale pour rester mobile-friendly */
        padding: 0; /* Supprime les marges internes */
        margin: 0 auto; /* Supprime les marges externes et centre horizontalement */
        box-sizing: border-box;
        background-color: var(--main-bg-white);
    }
    
    a {
        color: inherit;
        text-decoration: none;
    }
        
    .section-title {
        margin: 0;
        font-size: 22px;
    }
    
    /********* Header *********/

    header {
        display: flex;
        flex-direction: column; /* Aligne les éléments verticalement */
        align-items: center; /* Centre horizontalement le logo et la navigation */
        margin-top: 20px; /* Espacement au-dessus du header */
    }
    
    .logo {
        margin-bottom: 10px; /* Ajoute un espacement entre le logo et la navigation */
    }
    
    nav {
        display: flex;
        align-items: center; /* Centre les liens */
        justify-content: center; /* Centre les liens horizontalement */
        gap: 80px; /* Ajoute un espacement important entre les liens */
        width: 100%; /* Prend toute la largeur disponible */
        position: relative;
        margin-top: 20px; /* Espacement au-dessus du header */
    }
    
    nav a {
        text-decoration: none;
        font-size: 16px;
        color: black;
        position: relative;
        padding: 5px 10px;
        transition: all 0.3s ease; /* Transition fluide */
    }
    
    /* Désactiver ::after dans ce contexte */
    nav a::before {
    content: none;
    }

    /* Ajoute la bordure sous les liens avec un pseudo-élément */
    nav a::after {
        content: ''; /* Pseudo-élément vide pour dessiner la bordure */
        position: absolute;
        bottom: -15px; /* Place la bordure en bas du lien */
        left: 0;
        width: 100%; /* La bordure couvre toute la largeur du lien */
        height: 2px; /* Épaisseur de la bordure */
        background-color: transparent; /* Par défaut, invisible */
        transition: background-color 0.3s ease; /* Transition fluide pour la couleur */
    }

    /* Style pour le lien actif (ciblé avec :target, si applicable) */
    nav a:hover::after {
    background-color: #0065FC; /* Bordure bleue pour le lien actif */
    }

    .hebergements h1 {
        font-size: 24px; /* Taille adaptée pour le titre principal */
        font-weight: bold; /* Texte en gras */
        text-align: left; /* Alignement à gauche */
        margin: 0 20px 8px; /* Pas de marge en haut, mais espacement en bas */
        line-height: 1.4; /* Espacement entre les lignes */
        color: #000; /* Couleur noire pour le titre */
    }
    
    .hebergements p {
        font-size: 16px; /* Taille du texte secondaire */
        font-weight: normal; /* Texte en style normal */
        text-align: left; /* Alignement à gauche */
        margin: 0 20px; /* Suppression de la marge par défaut */
        line-height: 1.6; /* Espacement plus important pour la lisibilité */
        color: #555; /* Couleur grise pour le texte secondaire */
    }
    
    /********* Search Bar *********/

    .search-bar {
        display: flex;
        align-items: center; /* Centre les liens */
        justify-content: center; /* Centre les liens horizontalement */
        width: 100%; /* Prend toute la largeur disponible */
        max-width: 320px; /* Largeur maximale */
        margin: 20px; /* Centre horizontalement */
    }

    .search-input {
        display: flex;
        align-items: center;
        padding: 15px 16px 15px 16px; /* Espacement interne */
        background-color: white; /* Fond blanc */
        flex-grow: 1; /* Permet au champ de texte de s'étendre */
    }
    
    .search-input input {
        border: none; /* Supprime les bordures */
        outline: none; /* Supprime l'effet de focus */
        text-align: center;
        font-size: 18px; /* Taille du texte */
        color: var(--text-color); /* Couleur du texte */
        width: auto; /* Largeur personnalisée */
    }
    
    /* Style pour le placeholder */
    .search-input input::placeholder {
        font-weight: bold; /* Texte en gras */
        color: var(--text-color); /* Couleur noire */
    }

    .search-button {
        border-radius: 15px; /* Coins arrondis pour mobile */
    }

    .search-button .search-text {
        display: none; /* Texte caché sur mobile */
    }

    .search-button .search-icon {
        display: inline; /* Icône visible sur mobile */
    }

    /********* Filter Bar *********/

    /* Conteneur général */
    .filters-container {
        flex-direction: column; /* Boutons empilés verticalement */
        gap: 10px; /* Réduction de l'espacement */
        margin-top: 10px; /* Réduction de la marge supérieure */
    }

    /* Boutons de filtre */
    .filters {
        display: grid; /* Utilisation de la grille */
        grid-template-columns: repeat(2, 1fr); /* Deux colonnes de largeur égale */
        gap: 10px; /* Espacement entre les colonnes et les lignes */
        justify-content: center; /* Centrage horizontal des éléments */
        align-items: center; /* Centrage vertical des éléments dans la grille */
        width: 100%; /* La grille occupe toute la largeur disponible */
        max-width: 400px; /* Limite la largeur totale */
        padding: 0 20px 0 20px;
    }

    /* Label "Filtres" */
    .filters-label {
        font-size: 16px; /* Réduction de la taille du texte */
        margin-bottom: 10px; /* Ajout d'un espacement sous le label */
        padding: 0 20px;
        justify-content: left; /* Centrage horizontal du label */
        text-align: center; /* Texte centré */
    }

    .filters button {
        justify-content: center;
        padding: 10px; /* Réduction de l'espacement interne */
        font-size: 16px; /* Réduction de la taille du texte */
    }

    /* Icônes dans les boutons */
    .filters button i {
        font-size: 22px; /* Réduction de la taille des icônes */
    }

    /********* info bar *********/

    .info-container {
        display: flex;
        align-items: center; /* Centre verticalement l'icône et le texte */
        gap: 10px; /* Espace entre l'icône et le texte */
        padding: 20px;
        margin-top: 30px;
        font-size: 16px;

    }

    .icon-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px; /* Diamètre du cercle */
        height: 24px;
        border: 1px solid #D3D3D3; /* Bordure grise */
        border-radius: 50%; /* Cercle parfait */
    }

    .icon-circle i {
        color: #0065FC; /* Couleur bleue pour l'icône */
        font-size: 10px; /* Taille de l'icône */
    }

    /********* Hebergements And Populaires *********/

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column; /* Empile les sections verticalement */
    }

    #populaires {
        order: 1; /* La section "Populaires" en premier */
    }

    #hebergements {
        order: 2; /* La section "Hébergements" en second */
    }

    #activites {
        order: 3; /* La section "Activités" en dernier */
    }

    /********* Populaires Section *********/
    
    .populaires {
        padding: 20px; /* Ajoute de l'espacement autour de la section */
        background-color: var(--main-bg-color);
    }

    .populaires-title {
        display: flex;
        justify-content: space-between; /* Titre et icône alignés */
        align-items: center;
        margin-bottom: 20px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column; /* Les cartes s’empilent verticalement */
        gap: 10px; /* Espacement entre les cartes */
        width: 100%; /* Occupe toute la largeur */
    }
    
    .populaires-cards .card {
        display: flex; /* Utilise Flexbox pour aligner l'image et le texte horizontalement */
    align-items: center; /* Centre verticalement l'image et le contenu */
    gap: 20px; /* Espacement entre l'image et le texte */
    width: 100%; /* La carte occupe toute la largeur disponible */
    max-width: none; /* Largeur maximale pour limiter l'étirement */
    background-color: white; /* Fond blanc englobe l'image et le texte */
    border-radius: 15px; /* Coins arrondis pour toute la carte */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour un effet flottant */
    padding: 15px; /* Ajoute un espacement interne */
}

    .populaires-cards img {
        width: 150px; /* Largeur fixe pour l'image */
    height: 150px; /* Hauteur fixe pour garder la proportion */
    object-fit: cover; /* Ajuste l'image sans la déformer */
    border-radius: 15px 0 0 15px; /* Coins arrondis pour toute la carte */
    }

    .populaires-cards .card-content {
        display: flex; /* Permet d'organiser le texte */
    flex-direction: column; /* Le texte et les étoiles s'empilent */
    justify-content: space-between; /* Étoiles en bas et texte en haut */
    gap: 10px; /* Espace entre les éléments du contenu */
}

    .populaires-cards .card-title {
        font-size: 18px; /* Texte un peu plus grand */
    font-weight: bold; /* Texte en gras */
    margin-bottom: 5px; /* Petit espacement en dessous du titre */
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
        color: #555; /* Gris pour le sous-titre */
        margin: 5px 0; /* Espacement au-dessus et en dessous */
    }

    .populaires-cards .card-rating {
        display: flex;
        gap: 5px; /* Espace entre les étoiles */
        color: var(--main-color); /* Couleur des étoiles */
    }

    .neutral-star {
        color: #ccc; /* Couleur grise pour les étoiles inactives */
    }

    /********* Hebergements Section *********/

     /* Affichage en colonne pour les hébergements */
     .hebergements-cards {
        grid-template-columns: 1fr; /* Une seule colonne */
        gap: 20px; /* Espace entre les cartes */
        padding: 10px; /* Réduction du padding pour mobile */
    }

    .hebergements .card img {
        border-radius: 10px;
        width: 250px;
        height: 124px;
        border-top-left-radius: 0px; /* Coin arrondi en bas à gauche */
        border-top-right-radius: 0px; /* Coin droit en bas à droite */
    }

    .hebergements {
        width: 100%; /* La section occupe toute la largeur */
    }

    

    /********* Activités Section *********/

    #activites {
        margin-top: 20px; /* Réduction de la marge pour mobile */
        margin-bottom: 20px; /* Réduction de la marge inférieure */
    }

    .activites-cards {
        grid-template-columns: 1fr; /* Une seule colonne */
        gap: 15px; /* Réduction de l'espacement entre les cartes */
        padding: 10px; /* Ajout d'un léger padding interne */
    }

    .activites-cards img {
        height: auto; /* Ajuste automatiquement la hauteur pour s'adapter à la largeur */
    }

    .activites-cards .card h3 {
        margin-top: 10px; /* Réduction de la marge supérieure */
        margin-bottom: 10px; /* Réduction de la marge inférieure */
        margin-left: 0; /* Supprime la marge à gauche pour alignement centré */
        text-align: center; /* Centre le texte pour mobile */
        font-size: 14px; /* Réduction de la taille du texte pour mobile */
    }

    /********* Footer *********/
    footer {
        display: flex;
        flex-direction: column; /* Empile les sections verticalement */
        background-color: var(--main-bg-color);
        max-width: 100%; /* Assure que le footer occupe la même largeur */
        width: 100%; /* Prend la largeur complète de son conteneur parent */
        padding: var(--padding); /* Applique un padding uniforme si nécessaire */
        box-sizing: border-box; /* Inclut le padding dans la largeur totale */
        gap: 20px; /* Espacement entre les sections */
        margin: 0 auto; /* Centre le footer horizontalement */
    }
    
    footer h4 {
        font-size: 18px;
        color: var(--text-color);
        margin-bottom: 10px;
    }
    
    footer ul {
        font-size: 16px;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    footer ul li {
        margin-bottom: 10px;
    }
    
    footer a {
        color: var(--text-color);
        text-decoration: none;
        transition: color 0.3s ease;
    }
    
    footer a:hover {
        color: var(--main-color);
    }
    
}
