/********* General *********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --main-bg-white: #ffffff;
    --search-bg-white: #ffffff;
    --filter-bg-color: #DEEBFF;
    --filter-bg-white: #ffffff;
    --filter-bd-color: #D9D9D9;
    --text-color: #000000;
    --padding: 20px;
}

.fa-solid {
    color: var(--main-color);
}

.rating {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column; /* Empile les enfants verticalement */
    min-height: 100vh; /* S'assure que la hauteur minimale est la hauteur de la fenêtre */
    margin: 0; /* Supprime les marges */
    background-color: var(--main-bg-color);
    color: var(--text-color);
    min-width: 320px; /* Limite minimale pour un affichage garanti */
}

.main-container {
    flex: 1; /* Prend tout l'espace disponible pour pousser le footer vers le bas */
    display: flex;
    flex-direction: column; /* Empile les sections verticalement */
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    background-color: var(--main-bg-white);
}

a {
    color: inherit;
    text-decoration: none;
}



.section-title {
    margin: 0;
    font-size: 22px;
}

/********* Header *********/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin : 30px 0;
}

.logo {
    display: flex;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    justify-content: flex-start;
}

.logo img {
    margin: 0;
    display: block;
    image-orientation: left;
    width: 61.09px;
    height: 19px;
}

nav {
    display: flex; /* Utilise Flexbox pour aligner les éléments horizontalement */
    justify-content: flex-start; /* Centre les liens */
    align-items: center ; /* Aligne les éléments en haut */
    gap: 50px; /* Ajoute un espace entre les éléments */
}

nav a {
    color: var(--text-color);
    font-size: 16px;
    transition: all 0.3s ease; /* Animation fluide pour l'effet */
}

/* Changement de couleur et ajout de bordure au survol */
nav a:hover {
    color: var(--main-color); /* Change la couleur du texte */
    border-top: 1px solid var(--main-color); /* Affiche une bordure bleue */
}

/********* Cards *********/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: block; /* Transforme la carte en un élément bloc pour couvrir l'ensemble du contenu */
    text-decoration: none; /* Supprime les soulignements sur les textes des liens */
    color: inherit; /* Conserve la couleur du texte de la carte */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajoute des animations pour un effet visuel au survol */
}

.card:hover {
    transform: scale(1.03); /* Légère mise en avant au survol */
    filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.2)); /* Améliore l'ombre pour un effet au survol */
}

.card img {
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
    height: 150px;
}

.card-title {
    font-size: 16px;
    margin-top: 10px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: bold;
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/********* Search Bar *********/

/* Conteneur de la barre de recherche */

.search-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
}

.search-bar {
    display: flex; /* Aligne les éléments horizontalement */
    align-items: center; /* Centre verticalement */
    background: transparent; /* Fond transparent */
    overflow: hidden; /* Coupe les débordements éventuels */
    width: 377px; /* Largeur précise */
    height: 49px; /* Hauteur précise */
    margin: 20px 0px; /* Espacement interne */
}

/* Premier conteneur : Icône */
.marker-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F9FA; /* Fond gris clair */
    padding: 15px 16px 15px 16px; /* Espacement interne */
    border-top-left-radius: 15px; /* Arrondi gauche supérieur */
    border-bottom-left-radius: 15px; /* Arrondi gauche inférieur */
    width: 50px; /* Largeur précise */
    height: 49px; /* Hauteur précise */
}

.marker-icon i {
    font-size: 18px; /* Définit la hauteur de l'icône */
    color: #000; /* Couleur noire pour l'icône */
    width: 14px; /* Largeur précise */
    height: 18px; /* Hauteur précise */
    display: inline-block; /* Permet de définir largeur/hauteur exactes */
    line-height: 18px; /* Centre l'icône verticalement */
    text-align: center; /* Centre l'icône horizontalement */
}

/* Deuxième conteneur : Champ de recherche */
.search-input {
    display: flex;
    align-items: center;
    padding: 15px 16px 15px 16px; /* Espacement interne */
    background-color: white; /* Fond blanc */
    flex-grow: 1; /* Permet au champ de texte de s'étendre */
}

.search-input input {
    border: none; /* Supprime les bordures */
    outline: none; /* Supprime l'effet de focus */
    text-align: center;
    font-size: 14px; /* Taille du texte */
    color: #333; /* Couleur du texte */
    width: 130px; /* Largeur personnalisée */
}

/* Style pour le placeholder */
.search-input input::placeholder {
    font-weight: bold; /* Texte en gras */
    color: #333; /* Couleur noire */
}

/* Troisième conteneur : Bouton */
.search-button {
    background-color: #0065FC; /* Fond bleu */
    color: white; /* Texte blanc */
    font-weight: bold; /* Texte en gras */
    border: none; /* Supprime les bordures */
    border-top-right-radius: 15px; /* Arrondi droit supérieur */
    border-bottom-right-radius: 15px; /* Arrondi droit inférieur */
    padding: 15px 16px 15px 16px; /* Espacement interne pour ajuster la taille */
    font-size: 16px; /* Taille du texte */
    cursor: pointer; /* Curseur main au survol */
}

/* Changement de couleur au survol */
.search-button:hover {
    background-color: #004BB7; /* Fond bleu foncé au survol */
}

.search-button .search-text {
    display: inline; /* Texte visible sur desktop */
}

.search-button .search-icon {
    display: none; /* Icône cachée par défaut */
}
/********* Filter Bar *********/

/* Conteneur général */
.filters-container {
    display: flex; /* Active Flexbox */
    flex-direction: column; /* Aligne les éléments verticalement */
    align-items: center; /* Centre horizontalement les éléments */
    justify-content: center; /* Centre verticalement les éléments */
    gap: 15px; /* Espace entre "Filtres" et les boutons */
    height: 100vh; /* Prend toute la hauteur de la fenêtre pour centrer verticalement */
    text-align: center; /* Centre le texte dans le conteneur */
}

.button-container {
    display: flex;
    gap: 10px;
}

/* Boutons de filtre */
.filters {
    display: flex; /* Place les boutons sur une seule ligne */
    gap: 10px; /* Espacement entre les boutons */
    margin-top: 20px;
}

/* Label "Filtres" */
.filters-label {
    display: flex; /* Active Flexbox */
    align-items: center; /* Centre verticalement l'icône et le texte */
    font-size: 18px; /* Taille du texte */
    font-weight: bold; /* Texte en gras */
    color: #333; /* Couleur du texte noir */
}

.filters button {
    display: flex; /* Active Flexbox */
    align-items: center; /* Centre verticalement l'icône et le texte */
    gap: 8px; /* Espace entre l'icône et le texte */
    background-color: var(--filter-bg-white); /* Fond blanc */
    border: 2px solid var(--filter-bd-color); /* Bordure gris clair */
    border-radius: 30px; /* Coins arrondis */
    padding: 10px 20px; /* Espacement interne */
    font-size: 14px; /* Taille du texte */
    font-weight: bold; /* Texte en gras */
    color: var(--text-color); /* Couleur du texte bleu */
    cursor: pointer; /* Curseur main au survol */
    transition: background-color 0.3s ease, color 0.3s ease; /* Animation au survol */
}

/* Icônes dans les boutons */
.filters button i {
    font-size: 16px; /* Taille de l'icône */
    color: var(--main-color); /* Couleur de l'icône bleue */
}

/* Effet au survol des boutons */
.filters button:hover {
    background-color: var(--filter-bg-color); /* Fond bleu au survol */
    color: var(--text-color); /* Texte noir au survol */
}

.filters button:hover i {
    color: var(--main-color); /* Icône bleue au survol */
}

/********* info bar *********/

.info-container {
    display: flex;
    align-items: center; /* Centre verticalement l'icône et le texte */
    gap: 10px; /* Espace entre l'icône et le texte */
    margin-top: 20px;

}

.icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Diamètre du cercle */
    height: 30px;
    border: 2px solid #D3D3D3; /* Bordure grise */
    border-radius: 50%; /* Cercle parfait */
}

.icon-circle i {
    color: #0065FC; /* Couleur bleue pour l'icône */
    font-size: 16px; /* Taille de l'icône */
}

/********* Hebergements And Populaires *********/

.hebergements-cards {
    display: grid; /* Active la grille */
    grid-template-columns: repeat(3, 1fr); /* Limite à 3 colonnes */
    gap: 20px; /* Espace entre les cartes */
    margin-top: 20px;
    padding: 20px; /* Ajoute un espacement interne */
    background-color: var(--main-bg-color); /* Fond gris clair */
    border-radius: 10px; /* Coins arrondis */
}

.hebergements-and-populaires {
    display: flex; /* Place les deux sections sur une ligne */
    justify-content: space-between; /* Espace entre les sections */
    align-items: flex-start; /* Aligne en haut */
    gap: 40px; /* Espace entre les deux sections */
    margin-top: 20px;
}


.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/********* Hebergements Section *********/
.hebergements {
    width: 100%;
}

.hebergements .card img {
    border-radius: 10px;
    width: 250px;
    height: 124px;
    border-bottom-left-radius: 0px; /* Coin arrondi en bas à gauche */
    border-bottom-right-radius: 0px; /* Coin droit en bas à droite */
}

.show-more {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-color);
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 0px;
    margin: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.show-more:hover {
    background-color: var(--main-color);
}

/********* Populaires Section *********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 123px; /* Définit la largeur de l'image */
    height: 146px; /* Définit la hauteur de l'image */
    border-top-left-radius: 20px; /* Coin arrondi en haut à gauche */
    border-bottom-left-radius: 20px; /* Coin arrondi en bas à gauche */
    border-top-right-radius: 0px; /* Coin droit en haut à droite */
    border-bottom-right-radius: 0px; /* Coin droit en bas à droite */
    object-fit: cover; /* Gère l'adaptation de l'image dans sa zone */
}

.populaires-cards .card-content {
    width: auto;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    display: inline-block; /* Permet au conteneur de s'ajuster automatiquement à la largeur du texte */
    overflow: visible; /* Permet au texte de s'afficher intégralement */
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/********* Activités Section *********/

#activites {
    margin-top: 40px; /* Ajoute un espace de 40px au-dessus de la section Activités */
    margin-bottom: 40px; /* Ajoute un espace de 40px au-dessus de la section Activités */
}

.activites-cards {
    display: grid; /* Active CSS Grid */
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes de taille égale */
    justify-content: center; /* Centre horizontalement */
    gap: 20px; /* Espacement entre les cartes */
    margin-top: 20px; /* Espacement supérieur */
    padding: 0; /* Supprime les espacements internes */
}

.activites-cards .card {
    display: flex; /* Utilise Flexbox pour ajuster l'image à l'intérieur */
    flex-direction: column; /* Aligne les éléments verticalement */
    overflow: hidden; /* Masque les débordements */
    padding: 0; /* Supprime les espacements internes */
}

.activites-cards img {
    width: 100%; /* Définit une largeur fixe */
    height: 380px; /* Définit une hauteur fixe */
    object-fit: cover; /* Gère l'adaptation de l'image dans sa zone */
    border-bottom-left-radius: 0px; /* Coin arrondi en bas à gauche */
    border-bottom-right-radius: 0px; /* Coin droit en bas à droite */
}

.activites-cards .card h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    font-size: 16px; /* Taille du texte */
    text-align: left; /* Texte à gauche */
}

/********* Footer *********/
footer {
    display: flex;
    justify-content: space-around;
    padding: var(--padding);
    background-color: var(--main-bg-color);
}

footer h4 {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--main-color);
}

/********* Responsive Design *********/
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    header {
        display: flex;
        flex-direction: column; /* Aligne les éléments verticalement */
        align-items: center; /* Centre horizontalement le logo et la navigation */
        margin-top: 20px; /* Espacement au-dessus du header */
    }
    
    .logo {
        margin-bottom: 10px; /* Ajoute un espacement entre le logo et la navigation */
    }
    
    nav {
        display: flex;
        align-items: center; /* Centre les liens */
        justify-content: center; /* Centre les liens horizontalement */
        gap: 40px; /* Ajoute un espacement important entre les liens */
        border-bottom: 1px solid #D9D9D9; /* Ligne sous la navigation */
        padding-bottom: 0px; /* Espacement pour la bordure */
        width: 100%; /* Prend toute la largeur disponible */
    }
    
    nav a {
        text-decoration: none;
        font-size: 16px;
        color: black;
        position: relative;
        padding: 5px 10px;
        border-bottom: 2px solid transparent; /* Par défaut, aucune bordure visible */
        transition: all 0.3s ease; /* Transition fluide */
    }
    
    /* Style par défaut pour tous les liens */
    nav a:hover {
    color: #0065FC;
    }

    /* Style pour le lien actif (ciblé) */
    nav a:target {
    color: #0065FC; /* Couleur du lien actif */
    border-bottom: 2px solid #0065FC; /* Barre bleue sous le lien actif */
    }
    
    .search-bar {
        width: 100%; /* Prend toute la largeur disponible */
        max-width: 320px; /* Largeur maximale */
        margin: 20px auto; /* Centre horizontalement */
    }

    .search-button {
        border-radius: 15px; /* Coins arrondis pour mobile */
    }

    .search-button .search-text {
        display: none; /* Texte caché sur mobile */
    }

    .search-button .search-icon {
        display: inline; /* Icône visible sur mobile */
    }

    .filters {
        display: grid; /* Active une grille pour les filtres */
        grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
        gap: 10px; /* Espacement entre les boutons */
        margin: 20px auto; /* Centre la grille */
        width: 90%; /* Ajuste la largeur de la grille */
    }

    .filters button {
        width: 100%; /* Les boutons prennent toute la largeur disponible */
    }

    .hebergements-and-populaires {
        flex-direction: column;
        padding: 10px;
    }

    .grid.hebergements {
        grid-template-columns: 1fr; /* Une seule colonne */
    }

    .populaires-cards {
        flex-direction: column; /* Les cartes s’empilent */
        gap: 20px; /* Espacement entre les cartes */
    }

    .activites-cards {
        grid-template-columns: 1fr; /* Une seule colonne */
    }

    .populaires-cards {
        flex-direction: column;
    }

    .card {
        flex-direction: column;
        text-align: center;
    }

    .card img {
        width: 100%;
        height: auto;
        border-radius: 15px 15px 0 0;
    }
}
